{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    结算
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h4 class="page-header">收货人信息</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}<br>
                    <input type="submit" class="btn btn-primary" value="提交">
                </form>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    购物车
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span> ￥{{ item.total_price }}</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active">总价: ￥{{ cart.get_total_price }}</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}